h1 {
  text-align: center;
  color: #454545;
  font-size: 50px;
  padding-top: 30px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fefefe;
  background-repeat: no-repeat;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Open Sans", sans-serif;
}

.signupSection {
  background-color: #4bf5e1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: #353634;
  border-radius: 25px;
}

.info {
  width: 45%;
  background: rgba(253, 253, 253, 0.8);
  padding: 30px 0;
  border-right: 2px solid rgba(155, 155, 155, 0.8);
  h2 {
    padding-top: 30px;
    font-weight: 500;
    color: rgba(62, 62, 62, 0.8);
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
  border-color: rgb(172, 164, 164);
  h2 {
    font-weight: 300;
    font-size: 30px;
  }
}

.inputFields {
  margin: 15px 15px;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  border: 0px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgb(31, 31, 31);
  outline: none;
  border-radius: 20px;
}

.noBullet {
  list-style-type: none;
  padding: 0;
  color: #81e10c;
}

#join-btn {
  border: 1px solid rgb(181, 181, 181);
  background: #8e4ff4;
  border-radius: 24px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 60px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background: #5b01da;
    padding: 10px 75px;
  }
}
/* 
.mq-input {
  width: 50%;
} */
